<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="ToMail" value="to@example.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!-- Use the optional 'from' attribute to specify a default sender name and email if none is set in code -->
      <smtp deliveryMethod="Network" from="noreply@mailtrap.io">
        <network host="smtp.mailtrap.io" userName="58b5ebb8113684" password="8189272b98d556" port="2525" />
      </smtp>
    </mailSettings>
  </system.net>
  <log4net>
    <appender name="LogFileAppender"
              type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="RazorEngine_Test.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
               value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %c %m%n" />
        <conversionPattern
          value="%date %level %logger %message %newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>